<div class="login-container">
    <h2>Login</h2>
    <form (ngSubmit)="onLogin()">
      <div class="form-group">
        <label for="phoneNumber">Phone Number:</label>
        <input
          type="text"
          id="phoneNumber"
          class="form-control"
          [(ngModel)]="phoneNumber"
          name="phoneNumber"
          required
        />
      </div>
  
      <div class="form-group">
        <label for="password">Password:</label>
        <input
          type="password"
          id="password"
          class="form-control"
          [(ngModel)]="password"
          name="password"
          required
        />
      </div>
  
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
  
    <div *ngIf="message" class="message">
      {{ message }}
    </div>
  </div>
  